<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
    <main>
        <h1>facebook</h1>
        <div class="text-box">
            <p class="login-text">Log in to Facebook</p>
            <input type="email" name="" id="" placeholder="Email address or phone number">
            <input type="password" name="" id="" placeholder="Password">
            <button class="login-button">Log In</button>
            <p class="small-text"><a href="#">Forgotten account?</a></p>
            <div class="hr-box">
                <hr class="hr-one">
                <p class="smaller-text">or</p>
                <hr class="hr-two">
            </div>
            
            <button class="new-account-button" >Create New Account</button>
        </div>
    </main>
</body>
</html>