<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style5.css">
</head>
<body>
    <nav>
        <div class="links">
            <img src="Yahoo.png" alt="">
            <a href="#">Help</a>
        </div>
    </nav>
    <div class="everything">
        <div class="left">
            <h1>Yahoo makes it easy to enjoy what matters most in your world</h1>   
            <p>Yahoo Mail, breaking local, national and global news, finance, sport, music, films and more. You get more out of the web; you get more out of life</p>
        </div>
        <div class="card">
            <img src="Yahoo.png" alt="">
            <h2>Sign in to Yahoo Mail</h2>
            <p>Sign in using your Yahoo account</p>
            <input type="email" placeholder="Username, email address or mobile number" class="mail-box">
            <hr>
            <button class="next">Next</button>
            <div class="link-line">
                    <input type="checkbox">
                    <a href="#" class="sign">Stay signed in</a>
                    <a href="#">Forgotten username</a>
            </div>
            <button class="create">Create an account</button>
        </div>
    </div>
    <footer>
        <a href="#">Terms</a>
        <p>|</p>
        <a href="#">Privacy</a>
    </footer>
</body>
</html>