<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Phishing Page</title>
    <link rel="stylesheet" href="style6.css">
</head>
<body>
    <div class="everything">
        <div class="card">
            <div class="login-card">
                <div class="top-div">
                    <img src="Google_2015_logo.svg.png" alt="">
                    <h1>Welcome</h1>
                    <select name="mail-text" id="mail-text">
                        <option value="mail-text">chowtv@gmail.com</option>
                        <option value="">#</option>
                        <option value="">#</option>
                        <option value="">#</option>
                      </select>
                </div>
                <div class="middle-div">
                     <input type="password" placeholder="Enter your password" class="top-input">
                     <div class="alone">
                         <input type="checkbox">
                         <p class="mail-text">Show password</p>
                     </div>        
                </div>
                <div class="bottom-div">
                    <p><a href="#">Forgot password?</a></p>
                    <button>Next</button>
                </div>
            </div> 
            <footer>
                <select class="selectpicker"></select>
                <div class="footer-options">
                    <p>Help</p>
                    <p>Privacy</p>
                    <p>Terms</p>
                </div>
                
            </footer>
        </div>
    </div> 
</body>
</html>