<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="everything">
        <div class="card">
            <div class="left-side"><img src="cyborg-111.png" alt="" srcset=""></div>
            <div class="right-side">
                <h1>Sign in using any of these</h1>
                <hr>
                <button>Sign in with Twitter <img src="twitter-logo-11549680523gyu1fhgduu.png" alt="" srcset="" class="logo"></button>
                <button>Sign in with Google <img src="Google_'G'_Logo.svg.png" alt="" class="logo"></button>
                <button>Sign in with Yahoo <img src="Yahoo.png" alt="" srcset="" class="logo"></button>
                <button>Sign in with Facebook <img src="index.png" alt="" srcset="" class="logo"></button>
                <button>Sign in with Microsoft <img src="microsoft.png" alt="" srcset="" class="logo"></button>
                <button>Sign in with Apple <img src="apple-1.png" alt="" srcset="" class="logo"></button>
                <div class="bottom">
                    <a href="#" class="about">About</a>
                    <a href="#">Terms and policy</a>
                </div>
                <a href="#">Sign in with another method</a>
            </div>
        </div>
    </div>
</body>
</html>