<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft sign in page</title>
    <link rel="stylesheet" href="style4.css">
</head>
<body>
    <div class="everything">
        <div class="card">
            <div class="outer">
                <img src="microsoft.png" alt="">
                <h1>Sign in</h1>
                <input type="email" placeholder="Email, phone, or Skype">
                <hr>
                <p>No account?  <a href="#">Create one!</a></p>
            </div>
            <button type="submit">Next</button>
        </div>
        <div class="bottom">
            <img src="key.png" alt="">
            <p>Sign-in options</p>
        </div>
    </div>
</body>
</html>