@font-face{
    src: url(product-sans/Product\ Sans\ Regular.ttf);
    font-family: Product-Sans;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
h1{
    font-size: 20px;
    margin-bottom: 5px;
}
h2{
    font-size: 14px;
}
p{
    font-size: 12px;
}
body{
    font-family: Product-Sans;
}
img{
    height: 20px;
    margin: 15px 0px 10px 0;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 100vh;
}
.login-card{
    border: solid 1px hsl(201, 11%, 66%);
    border-radius: 5px;
    height: 350px;
}
.top-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.middle-div{
    margin: 5px 20px 0 20px;
    width: 300px;
}
input{
    width: 300px;
    height: 35px;
    margin-bottom: 5px;
}
.mail-text, .learn{
    margin-bottom: 25px;
}
.bottom-div{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
button{
    background-color: blue;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.footer-options{
    display: flex;
    justify-content: space-around;
    width: 150px;
}
.everything{
    display: flex;
    align-items: center;
    justify-content: center;
}