*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    height: 50px;
}
.everything{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(121deg, #D9AFD9 0%, #97D9E1 100%);
}
.outer{
    width: 80%;
    height: 80%;
    align-self: center;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 280px;
    height: 230px;
    margin-bottom: 15px;
}
.card img{
    margin-top: 12px;
}
h1{
    font-size: 16px;
    margin-top: -13px;
}
p{
    font-size: 10px;
}
input{
    border: none;
}
::placeholder{
    font-size: 10px;
}
hr{
    margin-bottom: 10px;
}
button{
    width: 80px;
    height: 23px;
    font-size: 12px;
    color: white;
    background-color: blue;
    border: none;
    margin: 0 0 30px 175px;
}
.bottom{
    background-color: white;
    width: 280px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.bottom img{
    height: 15px;
    margin-left: 25px;
}