*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: gray;
    font-family: Helvetica;
}
.everything{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    font-size: 25px;
    margin-left: -30px;
}
p{
    font-size: 12px;
    margin-left: 3px;
    font-weight: bold;
}
img{
    height: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 470px;
    background-color: white;
    border-radius: 10px;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 235px;
    margin: 10px 0;
    border-radius: 70px;
    border: solid 1px grey;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:hover {
    background-color: #f7f7f7;
}

input{
    width: 230px;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
    outline: none;
}

input:hover, input:focus, input:active {
    border: solid 2px #1CA0F1;
    outline: 2px;
}

.hr-box{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.hr-text{
    margin: 0px 5px;
}
hr{
    width: 100px;
}
.next-button{
    background-color: black;
    color: white;
}

.next-button:hover {
    background-color: black;

    opacity: .8;
}

.twitter{
    margin: 1rem 0px 15px 0px;
}
h1{
    margin-bottom: 10px;
}
.fp{
    margin-bottom: 40px;
}
.footer-text{
    margin-left: -60px;
    font-weight: lighter; 
}