<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <h1>Aol.</h1> 
        <a href="#">Help</a>    
    </nav>
    <div class="everything">
        <div class="card">
            <h1>Aol.</h1>
            <h3>Sign in</h3>
            <input type="text" placeholder="Username, email or mobile" class="first-input">
            <hr>
            <button class="next">Next</button>
            <div class="small-box">
                <div class="box">
                    <input type="checkbox" name="" id="">
                    <a href="#">Stay signed in</a>
                </div>
                <a href="#">Forgot username?</a>
            </div>
            <button class="create">Create an account</button>
            <p>Or, continue with</p>
            <div class="bottom">
                <button class="small"><img src="Google_'G'_Logo.svg.png" alt="" srcset="" class="google"></button>
                <button class="small"><img src="Yahoo.png" alt="" srcset=""></button>
            </div>
        </div>
    </div>
</body>
</html>