<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <nav>
        <img src="Yahoo.png" alt="" srcset="">
        <a href="#">Help</a>
    </nav>
    <div class="card">
        <img src="Yahoo.png" alt="" srcset="">
        <div class="content">
            <p class="mail-name">cHowtv</p>
            <h1>Enter password</h1>
            <p>to finish signing in</p>
            <input type="text" placeholder="Password">
            <button class="next">Next</button>
            <a href="#">Forgotten password?</a>
        </div>
    </div>
</body>
</html>