<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style4.css">
</head>
<body>
    <nav>
        <h1>Aol.</h1>
        <a href="#">Help</a>
    </nav>
    <div class="card">
        <h1>Aol.</h1>
        <div class="content">
            <p class="mail-name">cHowtv@gmail.com</p>
            <h2>Enter password</h2>
            <p>to finish signing in</p>
            <input type="text" placeholder="Password">
            <button class="next">Next</button>
            <a href="#">Forgot password?</a>
        </div>
    </div>
</body>
</html>