<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div class="card">
        <img src="twitter-logo-11549680523gyu1fhgduu.png" alt="" srcset="">
        <div class="card-content">
            <h1>Enter your password</h1>
            <div class="faded">
                <p class="top">Email</p>
                <p class="bottom">ChowTV@gmail.com</p>
            </div>
            <input type="text" placeholder="Password">
            <a href="#" class="tiny">Forgot password?</a>
            <button>Log in</button>
            <p class="last-p">Dont have an account? <a href="#">Sign up</a></p>
        </div>
    </div>
</body>
</html>