.login-container {
    width: 436px !important;
    margin: auto !important;
    margin-top: 100px !important;
    height: 500px !important;
}


html, body {
    width: 100%;
    height: 100%;
}


html, body {
    font-family: 'Roboto', sans-serif;
}

.login-container {
    margin-top: 0px;
    border: 1px solid rgb(217, 220, 222);
    border-radius: 8px;
	height: 80%;
    position: relative;
}

.g-h1 {
    padding-top: 15px;
}

.g-h1, .g-h2 {
    text-align: center;
    font-size: 24px;
}

.g-h2 {
    font-size: 16px;
}

.g-input {
    border-radius: 4px;
    border: 1px solid rgb(218, 220, 222);
    width: 100%;

    height: 52px !important;
}

.g-input input {
    padding: 13px 15px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    border-radius: 4px;
}

.g-input:focus {
    outline: none !important;
    border: 2px solid #1a73e8;
    transition-timing-function: ease;
}

.g-input-invalid {
    border: 1px solid red !important;
}

.g-input-invalid:focus {
    border: 2px solid red;
}

.g-legend {
    font-weight: 600;
    font-size: 14px;
    color: #1a73e8;
    margin-top: 6px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.p {
    font-size: 14px;
    color: #5f6368;
    margin-bottom: 0px;
}

.login-priv {
    margin-top: 32px;
}

.login-priv .g-legend {
    margin-top: 0px !important;
}

.login-nav {
    margin-top: 32px;
    display: flex;
}

.gbtn-primary {
    min-width: 88px;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
    background-color: #1a73e8;
	font-family: 'open-sans';
}

.gbtn-primary:hover {
    background-color: #4285f4;
    transition: 0.2s;
    transition-delay: 0.1s;
    transition-timing-function: ease;
}

.gbtn-label {
    color: white;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

#logo {
    margin: 0 auto;
    display: table;
    width: 75px;
    float: none;
    position: relative;
}


.login-content {
    padding: 40px;
	height: 100%;
}

.progress-bar-container {
    min-height: 4px;
}

#login-app {
	height: 100%;
}

.invalid-icon {
    margin-right: 8px;
}

.invalid-icon svg {
    fill: red;
}

.invalid-email-text-span {
    font-size: 12px;
    color: red;
}

.g-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #80868a;
}

.btn-next-email {
    cursor: pointer;
}

#email-form-step {
    padding-top: 32px;
}