@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light");
}

html,
body {
  width: 100%;
  height: 100%;
}

#title-bar {
  height: 31px;
  background-color: #d6dae0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

#logo {
  padding-left: 5px;
  vertical-align: middle;
}

#logo-description {
  color: black;
  font-size: 12px;
  font-family: "system";
  vertical-align: middle;
}

#minimize {
  color: black;
  font-size: 12px;
  padding: 9px 15px 7px 15px;
}

#square {
  color: black;
  font-size: 22px;
  padding: 0px 15px 5px 15px;
}

#exit {
  color: black;
  font-size: 15px;
  padding: 7px 17px 7px 17px;
}

#url-bar {
  height: 28px;
  background-color: #f1f3f4;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-bottom: 1px solid lightgray;
}

#url-bar::-webkit-scrollbar {
  display: none;
}

#ssl-padlock {
  user-select: none;
  padding-left: 8px;
  margin-right: 8px;
}

#domain-name {
  color: #000000;
  font-size: 14px;
  font-family: "system";
}

#domain-path {
  color: #7c7c7c;
  font-size: 14px;
  font-family: "system";
}

#title-bar-width {
  width: 100%;
}

#content {
  width: 100%;
  height: 700px;
}

#window {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 759px; /* title bar height + content height */
  width: 40%;
}
