<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Phishing Page</title>
    <link rel="stylesheet" href="../phish/style-1.css">
</head>
<body>
    <div class="everything">
        <div class="card">
            <div class="login-card">
                <div class="header">
                    <img src="../phish/Google__G__Logo.svg.png" alt="">
                    Sign in with Google
                </div>
                <div class="content">
                    <div class="top-div">
                        <h1>Sign in</h1>
                        <h2>Use your Google Account</h2>
                    </div>
                    <div class="middle-div">
                         <input type="text" placeholder="Email or Phone">
                         <p class="mail-text"><a href="#"><strong>Forgot email?</strong></a></p>   
                    </div>
                    <div class="bottom-div">
                        <p><a href="#">Create account</a></p>
                        <button>Next</button>
                    </div>
                </div>
            </div> 
            <footer>
                <select class="selectpicker countrypicker"></select>
                <div class="footer-options">
                    <p>Help</p>
                    <p>Privacy</p>
                    <p>Terms</p>
                </div>
                
            </footer>
        </div>
    </div> 
</body>
</html>