<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Phishing page</title>
    <link rel="stylesheet" href="../phish/style2.css">
</head>
<body>
    <div class="everything">
        <div class="card">
            <img src="../phish/twitter-logo-11549680523gyu1fhgduu.png" alt="" class="twitter">
            <h1>Sign in to Twitter</h1>
            <button><img src="../phish/Logo-Search-Google--on-transparent-background-PNG.png" alt=""><p>Sign in with Google</p></button>
            <button><img src="../phish/apple.png" alt=""><p>Sign in with Apple</p></button>
            <div class="hr-box">
                <hr>
                <p class="hr-text">or</p>
                <hr> 
            </div>
            <input type="text" placeholder="Phone, email, or username">
            <button class="next-button"><strong>Next</strong></button>
            <button class="fp"><strong>Forgot password?</strong></button>
            <p class="footer-text">Don't have an account? <a href="#">Sign up</a></p>
        </div>
    </div>
    </body>
</html>