<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../phish/style5-phish.css">
</head>
<body>
    <div class="everything">
        <div class="card">
            <img src="../phish/Yahoo.png" alt="">
            <h2>Sign in to Yahoo Mail</h2>
            <p>Sign in using your Yahoo account</p>
            <input type="email" placeholder="Username, email address or mobile number" class="mail-box">
            <hr>
            <button class="next">Next</button>
            <div class="link-line">
                    <input type="checkbox">
                    <a href="#" class="sign">Stay signed in</a>
                    <a href="#">Forgotten username</a>
            </div>
            <button class="create">Create an account</button>
        </div>
    </div>
</body>
</html>